#USD{
display: flex;
justify-content: center;
justify-content: space-between;
justify-content: space-around;
background-color: rgb(79, 138, 79);
color: white;
font-size: medium;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#navbar{
    display: flex;
justify-content: center;
gap:80px ;
}
#icons img{
width: 20px;
height: 20px;



}
#logo img{
width: 100px;
height: 50px;
object-fit: cover;
margin-left: 00px;

}
#template{
    background-image: url("images/threepts.webp");
background-repeat: no-repeat;
background-size: cover;
width:500px ;
height: 400px;
margin-top: 300px;
object-fit: cover;
border-radius: 10px;

}
#template i{
font-size: xx-large;


}

#flowerpots{
display: flex;
gap: 40px;
justify-content: center;

}
#choices{
display: flex;
gap: 50px;
}
#choice{
display: flex;
gap: 50px;
}
#sale{
background-image: url("images/SIX.jpg");
background: width 100px; ;
background-repeat: no-repeat;
color: white;
background-size: cover;
width: 300px;
height: 150px;
border-radius: 10px;
}
#house{
background-image: url("images/SEVEN.jpg");
color: white;
background-size: cover;
width: 300px;
height: 150px;
border-radius: 10px;
}
#bottle img{
width: 400px;
height: 300px;
border-radius: 5px;

}
#home{
display: flex;
gap: 50px;
justify-content: center;

}
#or{
margin-top: 12px;

}
#off{
background-image: url("images/THREE.jpg");
color: white;
background-size: cover;
width: 300px;
height: 150px;
border-radius: 10px;
}
#allplants{
display: flex;
justify-content: center;
/* justify-content: space-around; */
gap: 70px;
font-size: xx-large;

}
#new{
display: flex;
gap: 20px;
justify-content: center;

}
#new img{
height: 500px;
width: 500px;
margin-top: 100px;
object-fit: cover;

}
#white p{
font-size: xx-large;

}
#white span{
color: green;
display: flex;
justify-content: center;
}
#pop img{
height: 400px;
width: 300px;
object-fit: cover;
border-radius: 10px;
}
#upper{

    display: flex;
    gap: 50px;
    justify-content: center;

}
#lower{

    display: flex;
    gap: 50px;
 
}
#lower img{
width: 200px;
height: 250px;
    object-fit: cover;
    border-radius: 20px;
}
#upper img{
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;


}
#bottle{
display: flex;
justify-content: center;
gap: 50px;
}

#item{
display: flex;
gap: 15px;

}
#item button{
background-color: rgb(22, 187, 22);
border-radius: 5px;
border: none;
margin-left: 200px;
}
#stem{
    display: flex;
gap: 40px;
justify-content: center;


}
#stem img{
    width: 150px;
    height: 200px;
    border-radius: 10px;

}
#price{
background-image: url("images/pot13.avif");
color: white;
background-size: cover;
width: 700px;
height: 300px;
border-radius: 10px;
margin-left: 600px;
text-align: center;

}
#three img{
border-radius: 20px;

}
#grow{
  font-size: xx-large;  
  justify-content: center;
  display: flex;
}

#only{

    display: flex;
    gap: 40px;
    justify-content: center;
}
#person img{
width: 25px;
height: 25px;
border-radius: 50%;
background-color: rgb(224, 213, 213);
margin-left: 100px;
}
#be{
    display: flex;
    gap: 40px;
    justify-content: center;

}
#two img{
width: 350px;
height: 250px;
object-fit: cover;
border-radius: 10px;
}
#urban img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(224, 213, 213);

}
#people{
    display: flex;
    gap: 40px;
    justify-content: center;

}
#people img{
    border-radius: 20px;
width: 70px;
height: 70px;
object-fit: cover;


}
#media{
display: flex;
gap: 20px;
}
#media img{
width: 20px;
height: 20px;
}
#footer{
display: flex;
gap: 50px;
justify-content: center;
}
#green span{
font-weight: bold;
font-family: 'Times New Roman', Times, serif;
text-align: center;
}
#news span{
   font-weight: bold;
font-family: 'Times New Roman', Times, serif;
text-align: center;

}
#quick span{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}
#media span{
text-align: center;
color: grey;
font-size: 10px;
}
#news button{
background-color: green;
width: 200px;
height:30px;
border: none;
border-radius: 5px;
color: white;
}
input{
width: 200px;
height:30px;
}
#italic{
text-align: center;

}
#italic span{
color: rgb(17, 199, 17);

}
#clients{
display: flex;
justify-content: center;
}
#clients span{
font-size: xx-large;

}
#clients p{
color: green;

}
p{
text-align: center;
/* color: green; */
}
#latest span{
display: flex;
justify-content: center;
font-size: xx-large;
}
#item{


}